
:root{
--primary-color: #f157a4;
--secondary-color:#f8e4f6;
--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
--heading-font-family:"Noto Serif Display",
    serif;
 --default-font-family:"Playwrite US Trad Guides", serif;
}

body { 
    background-color: #f9e7f8;
    font-family: var(--default-font-family);
}

h1, h2, h3 {
    font-family: var(--heading-font-family);
    color:var(--primary-color);
}

h1 {
    font-size: 90px;
    line-height: 1.5;
    
}

h2 {
   font-size: 60px;

}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

i {
    color: var(--primary-color);
    padding: 20px;
}

.logo{
    max-width: 150px;
    margin-right: 20px;
    border-radius: 4px;
    
    
}

.hero {
    padding: 100px 20px;
    text-align: center;
    
    background-color: #fcdff4;
    background-image: linear-gradient(0deg, rgba(255, 245, 251, 0.1) 50%, rgba(249, 135, 209, 0.1) 50%);
    background-size: 40px 40px;
}

.btn-branding {
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
    border-radius: 50px;
    color: #f8e4f6;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 27px;
}

.btn-branding:hover {
    color: var(--primary-color);
    background-color: #fecdf1;
}

.outline {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 60px;    
}

.outline:hover {
    color: var(--primary-color);
    background-color: #fecdf1;
    border: none;
}

.home-info {
    font-family: var(--heading-font-family);
    font-size: 20PX;
}

.project-descriptions {
    padding: 90px 60px;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-name {
    font-size: 50px;
}

.content h1 {
    font-size: 60px;
    line-height: 80px;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.5;
    
}

.content-container p {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content-container {
    padding:100px 20px;
}

.content {
    margin: 30px;
}

.content p {
    font-size: 14px;
}

.contact h3 {
    font-size: 20px;
    padding-top: 0;
}
.contact a {
    background: linear-gradient(to right, #cb6ff5 50%, #dea8f7 50%)100%;
    background-clip: text;
    background-size: 200% 100%;
    font-size: 20px;
    color: transparent;
    text-decoration: none;
    transition: background-position 0.3s;
}
.contact a:hover {
    background-position: 0 100%;
}

.contact p {
    margin-bottom: 40px;
}

.icon-img {
    padding: 5px;
    margin-top: 20px;
    font-size: 70px;
}


@media (max-width:900px){
    .project-descriptions {
        padding: 0;
        text-align: center;
    }

   .hero {
    padding: 80px 20px;
   }


   .content-container {
    text-align: center;
    padding: 0;
   }

   .content h1 {
       font-size: 46px;
   }

   .content h2 {
       font-size: 30px;
   }

   .content-container p {
    font-size: 14px;
    line-height: 1.5;
   }
}

@media (max-width:576px) {
    h1 {
        font-size: 30px;
        line-height: 1.5;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }

    footer {
        font-size: 30px;
    }

        .hero h3 {
        font-size: 14px;
        margin: 10px;
        }

    .project-name {
        font-size: 32px;
    }

    .content-container h1 {
        font-size: 38px;
        line-height: 1.5;
        }
    
    .content-container h2 {
        font-size: 22px;
        }
    
     .content-container p {
        font-size: 16px;
        line-height: 1.5;   
}

.icon-img {
    padding: 5px;
    margin-top: 20px;
    font-size: 50px;
}

}

@media (any-hover: hover) {
    .contact a:hover {
        letter-spacing: 0.05em;
    }
}